/* modules/_cultural.scss
-------------------------------------------------- */
@use "../foundation/import" as get;


.m-cultural {
    &__wrap {
        @extend %w-content;
        margin-top: 123px;
        padding-bottom: 44px;

        @include get.sp {
            margin-top: 38px;
            padding-bottom: 32px;
        }
    }

    .m-main {
        &__ttl {
            @include get.pc {
                width: 724px;
            }

            @include get.sp {
                max-width: 308px;
                width: 100%;
            }
        }
    }

    &__inner {
        @include get.sp {
            max-width: 500px;
            margin: 0 auto;
        }
    }


    &__boxs {
        @include get.pc {
            margin-top: 60px;
            flex-wrap: wrap;

            &::after {
                content: "";
                display: block;
                max-width: 260px;
                width: 100%;
            }
        }

        @include get.sp {
            margin-top: 30px;
            flex-wrap: wrap;

            &::after {
                content: "";
                display: block;
                max-width: 260px;
                width: 46%;
            }

        }
    }


    &__box {
        text-align: center;
        font-weight: 600;

        @include get.pc {
            max-width: 260px;
            margin-top: 30px;
        }

        @include get.sp {
            width: 46%;
            margin-bottom: 20px;
        }

        & img {
            box-shadow: 3px 3px 4px #a1a1a1;

            @include get.pc {
                width: 100%;
                height: 179px;
                object-fit: cover;
            }

            @include get.sp {
                width: 90%;
                height: 25.6vw;
                max-height: 142px;
                object-fit: cover;
            }
        }
    }

    &__ttl {
        font-size: 32px;
        margin-top: 15px;

        @include get.sp {
            font-size: 19px;
            margin-top: 5px;
        }

        &.small {
            font-size: 23px;

            @include get.sp {
                font-size: 14px;
            }
        }

        &-eg {
            font-size: 22px;
            margin-top: 7px;

            @include get.sp {
                font-size: 14px;
                margin-top: 5px;
            }
        }
    }

    &__txts {
        margin-bottom: 20px;
        word-wrap: break-word;

        @include get.sp {
            margin-bottom: 5px;
        }
    }

    &__lead {
        font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", sans-serif;
        width: 155px;
        margin: 0 auto;
        background-color: #5C3740;
        color: #fff;
        font-size: 18px;
        margin-top: 10px;
        line-height: 1.5;

        @include get.sp {
            font-size: 10px;
            width: 81px;
            margin-top: 7px;
        }
    }

    &__name {
        font-size: 27px;
        margin-top: 10px;

        @include get.sp {
            font-size: 15px;
            margin-top: 5px;
            line-height: 1.2;
        }

        &-eg {
            @include get.sp {
                font-size: 20px;
            }

            @include get.sp {
                font-size: 12px;
            }
        }
    }

}