/* modules/_cultural-howto.scss
-------------------------------------------------- */
@use "../foundation/import" as get;


.m-cultural-howto {
    &__wrap {
        padding-bottom: 80px;

        @include get.pc {
            padding-top: 37px;
        }

        @include get.sp {
            padding: 0 3%;
            padding-top: 51px;
            padding-bottom: 17px;
        }
    }

    .m-main {
        &__ttl {
            @include get.pc {
                width: 560px;
            }

            & h2 {
                font-size: 36px;
            }
        }
    }

    &__boxs {
        margin-top: 65px;
        line-height: 1.7;

        @include get.pc {
            font-size: 24px;
        }

        @include get.sp {
            font-size: 15px;
            margin-top: 14px;
        }
    }

}