/* modules/_registration.scss
-------------------------------------------------- */
@use "../foundation/import" as get;


.m-registration {
    background: rgba(255, 255, 255, 0.8);

    &__wrap {
        @extend %w-content;
        padding-top: 64px;
        padding-bottom: 80px;
    }

    .m-main {
        &__ttl {
            width: 724px;
        }
    }

    &__boxs {
        display: flex;
        justify-content: space-between;
        max-width: 913px;
        margin: 0 auto;
        margin-top: 43px;
    }

    &__box {
        max-width: 412px;
        width: 100%;

        & a {
            font-family: "小塚ゴシック Pro", "Kozuka Gothic Pro", sans-serif;
            display: flex;
            width: 100%;
            height: 107px;
            align-items: center;
            justify-content: center;
            color: #FFFFFF;
            font-size: 31px;
            line-height: 1.2;
            margin: 0 auto;
            margin-top: 30px;
            box-shadow: 3px 3px 4px #B9B9B9;
            text-align: center;

            &.m-registration__btn-left {
                background-color: #E2A9A1;
            }

            &.m-registration__btn-right {
                background-color: #93D1B0;
            }

            & div {
                padding-bottom: 19px;

                &::after {
                    content: "";
                    background-image: url(../img/top/registration-arrow.svg);
                    width: 17px;
                    height: 25px;
                    margin-left: 10px;
                    display: inline-block;
                    vertical-align: super;
                }
            }

            & span {
                font-size: 21px;
            }
        }
    }

    &__txt {
        margin-top: 30px;
        font-size: 23px;
        line-height: 1.2;
    }

    @include get.sp {
        &__wrap {
            padding-top: 27px;
            padding-bottom: 12px;
        }

        .m-main {
            &__ttl {
                width: 308px;
            }
        }

        &__boxs {
            display: block;
            margin-top: 30px;
        }

        &__box {
            padding: 0 5%;
            margin: 0 auto;
            margin-bottom: 24px;

            & a {
                max-width: 300px;
                margin-top: 0px;
                font-size: 22px;
                height: 78px;
                line-height: 0.4;

                & div {
                    padding-bottom: 10px;

                    &::after {
                        width: 19px;
                        height: 20px;
                        margin-left: 19px;
                    }
                }

                & span {
                    font-size: 15px;
                }
            }
        }

        &__txt {
            font-size: 14px;
            margin-top: 9px;
            line-height: calc(21/14);
        }
    }
}